Cleaning of datasets

In [1]:
import pandas as pd

df = pd.read_excel("Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [2]:
df['Last_Name'].str.strip()

0         Baggins
1           Nadir
2          /White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11      ...Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
20      Skywalker
Name: Last_Name, dtype: object

In [3]:
df['Last_Name'].str.replace("/", '')

0         Baggins
1           Nadir
2           White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11      ...Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
20      Skywalker
Name: Last_Name, dtype: object

In [4]:
df['Last_Name'].str.replace(["...", "_"], '')

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
Name: Last_Name, dtype: float64

In [5]:
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [11]:
df.drop(columns="Not_Useful_Column")

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [19]:
df['Last_Name'] = df['Last_Name'].str.lstrip("...")
df['Last_Name'] = df['Last_Name'].str.lstrip("/")
df['Last_Name'] = df['Last_Name'].str.lstrip("_")
df['Last_Name'] = df['Last_Name'].str.rstrip("_/...")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       21 non-null     int64
 1   First_Name       21 non-null     object
 2   Last_Name        20 non-null     object
 3   Phone_Number     19 non-null     object
 4   Address          21 non-null     object
 5   Paying Customer  21 non-null     object
 6   Do_Not_Contact   17 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.3+ KB

In [21]:
df.describe()

        CustomerID
count    21.000000
mean   1010.952381
std       6.127611
min    1001.000000
25%    1006.000000
50%    1011.000000
75%    1016.000000
max    1020.000000

In [23]:
df.shape

(21, 7)

In [25]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [27]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]', '')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [32]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       20 non-null     int64
 1   First_Name       20 non-null     object
 2   Last_Name        19 non-null     object
 3   Phone_Number     20 non-null     object
 4   Address          20 non-null     object
 5   Paying Customer  20 non-null     object
 6   Do_Not_Contact   16 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.2+ KB

In [39]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df

TypeError: 'float' object is not subscriptable

In [51]:
df[["Street_Address", "State", "Zip_Code"]] = df["Address"].str.split(',', n=2,  expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street Address,State,Zip,Street_Address,Zip_Code
0,1001,Frodo,Baggins,NaN,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,,123 Shire Lane,None
1,1002,Abed,Nadir,NaN,93 West Main Street,No,Yes,93 West Main Street,None,,93 West Main Street,None
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,,298 Drugs Driveway,None
3,1004,Dwight,Schrute,NaN,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503,980 Paper Avenue,18503
4,1005,Jon,Snow,NaN,123 Dragons Road,Y,No,123 Dragons Road,None,,123 Dragons Road,None
5,1006,Ron,Swanson,NaN,768 City Parkway,Yes,Yes,768 City Parkway,None,,768 City Parkway,None
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,1209 South Street,None,,1209 South Street,None
7,1008,Sherlock,Holmes,NaN,98 Clue Drive,N,No,98 Clue Drive,None,,98 Clue Drive,None
8,1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN,123 Middle Earth,None,,123 Middle Earth,None
9,1010,Peter,Parker,NaN,"25th Main Street, New York",Yes,No,25th Main Street,New York,,25th Main Street,None
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,,612 Shire Lane,None
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,,2394 Hogwarts Avenue,None
12,1013,Don,Draper,NaN,2039 Main Street,Yes,N,2039 Main Street,None,,2039 Main Street,None
13,1014,Leslie,Knope,NaN,343 City Parkway,Yes,No,343 City Parkway,None,,343 City Parkway,None
14,1015,Toby,Flenderson,NaN,214 HR Avenue,N,No,214 HR Avenue,None,,214 HR Avenue,None
15,1016,Ron,Weasley,NaN,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,,2395 Hogwarts Avenue,None
16,1017,Michael,Scott,NaN,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,,121 Paper Avenue,None
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,3498 Super Lane,None,,3498 Super Lane,None
18,1019,Creed,Braton,NaN,N/a,N/a,Yes,N/a,None,,N/a,None
19,1020,Anakin,Skywalker,NaN,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,,910 Tatooine Road,None

In [55]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes', "Y")
df['Paying Customer'] = df['Paying Customer'].str.replace('No', "N")

In [56]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street Address,State,Zip,Street_Address,Zip_Code
0,1001,Frodo,Baggins,NaN,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,,123 Shire Lane,None
1,1002,Abed,Nadir,NaN,93 West Main Street,N,Yes,93 West Main Street,None,,93 West Main Street,None
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,,298 Drugs Driveway,None
3,1004,Dwight,Schrute,NaN,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503,980 Paper Avenue,18503
4,1005,Jon,Snow,NaN,123 Dragons Road,Y,No,123 Dragons Road,None,,123 Dragons Road,None
5,1006,Ron,Swanson,NaN,768 City Parkway,Y,Yes,768 City Parkway,None,,768 City Parkway,None
6,1007,Jeff,Winger,NaN,1209 South Street,N,No,1209 South Street,None,,1209 South Street,None
7,1008,Sherlock,Holmes,NaN,98 Clue Drive,N,No,98 Clue Drive,None,,98 Clue Drive,None
8,1009,Gandalf,NaN,NaN,123 Middle Earth,Y,NaN,123 Middle Earth,None,,123 Middle Earth,None
9,1010,Peter,Parker,NaN,"25th Main Street, New York",Y,No,25th Main Street,New York,,25th Main Street,None
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,,612 Shire Lane,None
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,,2394 Hogwarts Avenue,None
12,1013,Don,Draper,NaN,2039 Main Street,Y,N,2039 Main Street,None,,2039 Main Street,None
13,1014,Leslie,Knope,NaN,343 City Parkway,Y,No,343 City Parkway,None,,343 City Parkway,None
14,1015,Toby,Flenderson,NaN,214 HR Avenue,N,No,214 HR Avenue,None,,214 HR Avenue,None
15,1016,Ron,Weasley,NaN,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,,2395 Hogwarts Avenue,None
16,1017,Michael,Scott,NaN,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,,121 Paper Avenue,None
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,3498 Super Lane,None,,3498 Super Lane,None
18,1019,Creed,Braton,NaN,N/a,N/a,Yes,N/a,None,,N/a,None
19,1020,Anakin,Skywalker,NaN,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,,910 Tatooine Road,None

In [57]:
df.fillna("")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street Address,State,Zip,Street_Address,Zip_Code
0,1001,Frodo,Baggins,NaN,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,,123 Shire Lane,None
1,1002,Abed,Nadir,NaN,93 West Main Street,N,Yes,93 West Main Street,None,,93 West Main Street,None
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,,298 Drugs Driveway,None
3,1004,Dwight,Schrute,NaN,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503,980 Paper Avenue,18503
4,1005,Jon,Snow,NaN,123 Dragons Road,Y,No,123 Dragons Road,None,,123 Dragons Road,None
5,1006,Ron,Swanson,NaN,768 City Parkway,Y,Yes,768 City Parkway,None,,768 City Parkway,None
6,1007,Jeff,Winger,NaN,1209 South Street,N,No,1209 South Street,None,,1209 South Street,None
7,1008,Sherlock,Holmes,NaN,98 Clue Drive,N,No,98 Clue Drive,None,,98 Clue Drive,None
8,1009,Gandalf,NaN,NaN,123 Middle Earth,Y,NaN,123 Middle Earth,None,,123 Middle Earth,None
9,1010,Peter,Parker,NaN,"25th Main Street, New York",Y,No,25th Main Street,New York,,25th Main Street,None
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,,612 Shire Lane,None
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,,2394 Hogwarts Avenue,None
12,1013,Don,Draper,NaN,2039 Main Street,Y,N,2039 Main Street,None,,2039 Main Street,None
13,1014,Leslie,Knope,NaN,343 City Parkway,Y,No,343 City Parkway,None,,343 City Parkway,None
14,1015,Toby,Flenderson,NaN,214 HR Avenue,N,No,214 HR Avenue,None,,214 HR Avenue,None
15,1016,Ron,Weasley,NaN,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,,2395 Hogwarts Avenue,None
16,1017,Michael,Scott,NaN,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,,121 Paper Avenue,None
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,3498 Super Lane,None,,3498 Super Lane,None
18,1019,Creed,Braton,NaN,N/a,N/a,Yes,N/a,None,,N/a,None
19,1020,Anakin,Skywalker,NaN,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,,910 Tatooine Road,None

for data cleaning

https://youtu.be/bDhvCp3_lYw?si=pioL92JX9JPn1Lt9

In [62]:
for x in df.index:
    if df.loc[df["Do_Not_Contact"] == "Y", 'Phone_Number'] = np.nan:
        df.drop('Phone_Number', axis=1, inplace=True)

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (2476670157.py, line 2)